<nav role="banner" id="fh5co-header">
  <div class="fluid-container">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <!-- Mobile Toggle Menu Button -->
        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
        
      </div>
      <div id="navbar" class="navbar-collapse collapse">
          <a class="navbar-brand" href="index.html">FarmerHackers</a> 
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#" data-nav-section="home"><span>Home</span></a></li>
          
          <li><a href="#" data-nav-section="faq"  (click)="logOut()" ><span>Deconnexion</span></a></li>
          
          
        </ul>
      </div>
    </nav>
  </div>
</nav>
